<div>
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        <div class="modal-body-text">
            <p>{{message}}</p>
        </div>
        <div class="modal-body-input-text">
            <input type="text" class="form-control" data-ng-model="data.inputText" placeholder="{{inputTextPlaceholder}}">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-ng-click="ok()">{{okButtonLabel}}</button>
        <button class="btn btn-default" data-ng-click="cancel()">{{cancelButtonLabel}}</button>
    </div>
</div>
