<div data-ng-controller="LoginCtrl">
    <form data-ng-submit="doLogin()">
        <p align="center">
            <input class="form-inline" type="text" name="email" placeholder="e-mail" data-ng-model="user.email" required=""><br/><br/>
            <input class="form-inline" type="password" name="password" placeholder="пароль" data-ng-model="user.password" required=""><br/><br/>
            <button type="submit" class="btn btn-primary">Увійти</button>
            <button type="button" class="btn btn-default" data-ng-click="goRegister()">Реєстрація</button><br/>
        </p>
        <p align="center"><a data-ng-click="goRestore()">Забули пароль?</a></p>
        <p class="alert-danger animated fadeIn" data-ng-show="loginerror">{{loginerror}}</p>
        <p class="" data-ng-hide="loginerror">&nbsp;</p>
        <p class="bg-primary" style="margin-bottom: 5px;">Увайсцi пры дапамозе</p>
        <a href="/auth/facebook">
            <img class="social-auth-img" src="/public/auth/assets/img/icons/facebook.png" width="40"/>
        </a>
        <a href="/auth/twitter">
            <img class="social-auth-img" src="/public/auth/assets/img/icons/twitter.png" width="40"/>
        </a>
        <a href="/auth/google">
            <img class="social-auth-img" src="/public/auth/assets/img/icons/google.png" width="40"/>
        </a>
        <a href="/auth/vkontakte">
            <img class="social-auth-img" src="/public/auth/assets/img/icons/vkontakte.png" width="40"/>
        </a>
    </form>
</div>
