<div data-ng-controller="LoginCtrl">
    <div class="alert alert-danger animated fadeIn" data-ng-show="loginerror">{{loginerror}}</div>
    <h1>Вхід</h1>
    <form  data-ng-submit="login()" class="signin form-horizontal">
        <div class="form-group">
            <label for="email" class="col-md-4 control-label">Email</label>
            <div class="col-md-8">
                <input required id="email" type="email" name="email" placeholder="email" class="form-control" data-ng-model="user.email"/>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-md-4 control-label">Пароль</label>
            <div class="col-md-8">
                <input required id="password" type="password" name="password" placeholder="пароль" class="form-control" data-ng-model="user.password"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <button type="submit" class="btn btn-primary">Увійти</button>&nbsp;
                або&nbsp;<a data-ui-sref='auth.register' class="show-signup">Зареєструватися</a>
            </div>
        </div>
    </form>
</div>
