<div data-ng-controller="RestoreCtrl" data-ng-init="initHash()">
    <h1>Восстановление пароля</h1>
    <form  data-ng-submit="update()" class="form-horizontal">
        <div class="form-group">
            <label for="email" class="col-md-4 control-label">Email эккаунта, для якога будзе зменены пароль</label>
            <div class="col-md-8">
                <input disabled required id="email" type="email" name="email" placeholder="email" class="form-control" data-ng-model="user.email"/>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-md-4 control-label">Новы пароль</label>
            <div class="col-md-8">
                <input required id="password" type="password" name="password" class="form-control" data-ng-model="user.password"/>
            </div>
        </div>
        <div class="alert alert-warning animated fadeIn" data-ng-show="hashError">Такога карыстача не мае.</div>
        <div class="alert alert-success animated fadeIn" data-ng-show="restoreSuccess">Пароль успешна зменены.</div>
        <div class="alert alert-warning animated fadeIn" data-ng-show="restoreError">Пароль не удалося зменить.</div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <button type="submit" class="btn btn-primary">Зменить пароль</button>&nbsp;
            </div>
        </div>
    </form>
</div>
