body {
    padding-top: 50px;
}

.col_top_row {
    height: 20em;
    box-shadow: 1px 1px 1px;
    padding-top: 1em;
}

.col_bottom_row {
    box-shadow: 1px 0 1px;
}

.col_bottom_row > .row {
    height: 12em;
}

.col_bottom_row > .row.row-header,
.col_bottom_row > .row.row-footer
{
    height: auto;
    text-align: center;
}

.col_bottom_row > .row.row-header > div,
.col_bottom_row > .row.row-footer > div
{
    margin-bottom: 2em;
}

.videos.videos-list-small > .row {
    margin-bottom: 0;
}

.dropdown-menu {
    text-align: start;
}

.social-auth-img:hover {
    opacity: .55;
}