body {
    padding-top: 50px;
}

.col_top_row {
    height: 20em;
    box-shadow: 1px 1px 1px;
}

.col_bottom_row {
    box-shadow: 1px 0 1px;
}

.col_bottom_row > .row {
    height: 12em;
}

.col_bottom_row > .row.row-header,
.col_bottom_row > .row.row-footer
{
    height: auto;
}

.col_bottom_row > .row.row-header > div,
.col_bottom_row > .row.row-footer > div
{
    margin-bottom: 2em;
}

.videos.videos-list-small > .row {
    margin-bottom: 0;
}